<app-navbar></app-navbar>

<div class="header">
  <div class="row w-100">
    <div class="col-sm-4 important">
      <h1 style="color: #555; font-size: 45px">
        <b>
          Select Your <br />
          <span style="color: #eb455f"> New </span> <br />Perfect Style
        </b>
        <br />
      </h1>
      <p>It's all about time don't <br />spend it, Go and choose one.</p>
      <a href="#explore" class="btn text-white"> <b>Explore Now</b> </a>
    </div>
    <div class="col-sm-4 important">
      <img src="../../assets/img/homepage.png" />
    </div>
  </div>
</div>

<!--features show -->

<div class="categories">
  <div class="small-container">
    <div class="row">
      <div class="col-sm-3">
        <img src="../../assets/img/show1.png" />
      </div>
      <div class="col-sm-3">
        <img src="../../assets/img/show2.png" />
      </div>
      <div class="col-sm-3">
        <img src="../../assets/img/show3.png" />
      </div>
    </div>
  </div>
</div>

<!--features products -->

<div class="small-container">
  <h2 class="title" id="explore">Featured Products</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="card shadow" style="width: 14rem">
        <div class="inner">
          <img
            class="card-img-top"
            src="../../assets/img/F1.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h4 class="card-text">Armton watches</h4>
          <h5 class="card-text">$4.000,00</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card shadow" style="width: 14rem">
        <div class="inner">
          <img
            class="card-img-top"
            src="../../assets/img/F2edit.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h4 class="card-text">Armton watches</h4>
          <h5 class="card-text">$4.000,00</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card shadow" style="width: 14rem">
        <div class="inner">
          <img
            class="card-img-top"
            src="../../assets/img/F3e.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h4 class="card-text">Armton watches</h4>
          <h5 class="card-text">$4.000,00</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card shadow" style="width: 14rem">
        <div class="inner">
          <img
            class="card-img-top"
            src="../../assets/img/F4e.png"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h4 class="card-text">Armton watches</h4>
          <h5 class="card-text">$4.000,00</h5>
        </div>
      </div>
    </div>
  </div>

  <!--lux products -->

  <div class="small-container-lux">
    <div class="row">
      <div class="col-8 m-0 p-0 inner">
        <img src="../../assets/img/lux1.png" alt="" class="img-responsive" />
      </div>
      <div class="col-4 inner">
        <img src="../../assets/img/lux2.png" alt="" class="img-responsive" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 m-0 p-0 inner">
        <img src="../../assets/img/lux4.png" alt="" class="img-responsive" />
      </div>
      <div class="col-8 inner">
        <img src="../../assets/img/lux3.png" alt="" class="img-responsive" />
      </div>
    </div>
  </div>

  <!--for the buying-->

  <div class="gallery mt-xl-5">
    <div class="content">
      <img class="imgbuy" src="../../assets/img/F1.png" alt="" />
      <h3>watches</h3>
      <p class="imgbuyp">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <h6>$100.00</h6>
      <ul class="listul">
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <button class="buy-1">Buy Now</button>
    </div>

    <div class="content">
      <img class="imgbuy" src="../../assets/img/F2edit.png" alt="" />
      <h3>watches</h3>
      <p class="imgbuyp">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <h6>$100.00</h6>
      <ul class="listul">
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <button class="buy-2">Buy Now</button>
    </div>

    <div class="content">
      <img class="imgbuy" src="../../assets/img/F3e.png" alt="" />
      <h3>watches</h3>
      <p class="imgbuyp">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <h6>$100.00</h6>
      <ul class="listul">
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
      </ul>
      <button class="buy-3">Buy Now</button>
    </div>

    <div class="content">
      <img class="imgbuy" src="../../assets/img/F4e.png" alt="" />
      <h3>watches</h3>
      <p class="imgbuyp">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <h6>$100.00</h6>
      <ul class="listul">
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star checked"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <button class="buy-4">Buy Now</button>
    </div>
  </div>

  <!--testimonial -->

  <div class="small-container">
    <h4 class="mt-xl-5 text-center color" id="explore">Testimonial</h4>
    <p class="text-center mb-3 fs-6 color">
      Read what others <br />
      said
    </p>
    <div class="row">
      <div class="col-sm-3 testimo">
        <div
          class="card shadow text-center"
          style="width: 14rem; padding: 56px 2px"
        >
          <p class="card-text text-black fs-4" style="font-family: Hahmlet">
            <b> it’s great to buy a watch and i prefer the rolex part </b>
          </p>
          <div class="test">
            <div class="d-flex" style="justify-content: center; color: #cd853f">
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
            </div>
          </div>
          <p
            class="text-center"
            style="
              font-family: Hahmlet;
              font-weight: 400;
              font-size: 24px;
              line-height: 35px;
            "
          >
            Angilna Jolie
          </p>
          <img
            class="rounded-circle"
            style="width: 78px; height: 78px; margin-left: 4.5rem"
            src="../../assets/img/testmo1.png"
            alt="Card image cap"
          />
        </div>
      </div>
      <div class="col-sm-3 testimo">
        <div
          class="card shadow text-center"
          style="width: 14rem; padding: 56px 2px"
        >
          <p class="card-text text-black fs-4" style="font-family: Hahmlet">
            <b> it’s great to buy a watch and i prefer the rolex part </b>
          </p>
          <div class="test">
            <div class="d-flex" style="justify-content: center; color: #cd853f">
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
              <i class="bi bi-star-fill m-1"></i>
            </div>
          </div>
          <p
            class="text-center"
            style="
              font-family: Hahmlet;
              font-weight: 400;
              font-size: 24px;
              line-height: 35px;
            "
          >
            Tom cruise
          </p>

          <img
            class="rounded-circle"
            style="width: 78px; height: 78px; margin-left: 4.5rem"
            src="../../assets/img/testmo2.png"
            alt="Card image cap"
          />
        </div>
      </div>
      <div class="col-sm-3 testimo">
        <div
          class="card shadow text-center"
          style="width: 14rem; padding: 56px 2px"
        >
          <div class="card border-0">
            <p class="card-text text-black fs-4" style="font-family: Hahmlet">
              <b> it’s great to buy a watch and i prefer the rolex part </b>
            </p>
            <div
              class="text-center"
              style="
                font-family: Hahmlet;
                font-weight: 400;
                font-size: 24px;
                line-height: 35px;
              "
            >
              <div class="test">
                <div
                  class="d-flex"
                  style="justify-content: center; color: #cd853f"
                >
                  <i class="bi bi-star-fill m-1"></i>
                  <i class="bi bi-star-fill m-1"></i>
                  <i class="bi bi-star-fill m-1"></i>
                  <i class="bi bi-star-fill m-1"></i>
                  <i class="bi bi-star-fill m-1"></i>
                </div>
              </div>
              Brad Pitt
            </div>
            <img
              class="rounded-circle"
              style="width: 78px; height: 78px; margin-left: 4.5rem"
              src="../../assets/img/testmo3.png"
              alt="Card image cap"
            />
          </div>
        </div>
      </div>
    </div>

    <!--brands -->

    <div class="brands mt-xl-5">
      <div class="container-fluid !important" style="background-color: #bad7e9">
        <div class="row">
          <div class="col-sm-3 hovercolor">
            <img src="../../assets/img/logo1.png" />
          </div>
          <div class="col-sm-3 hovercolor">
            <img src="../../assets/img/logo2.png" />
          </div>
          <div class="col-sm-3 mb-0 hovercolor">
            <img src="../../assets/img/logo3.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <app-product-list></app-product-list>
    </div>

    <div class="container">
      <app-edit-product-list></app-edit-product-list>
    </div>

    <app-footer></app-footer>
  </div>
</div>
