<link rel="icon" href="../../assets/images/favicon.png" type="image/x-icon" />

<div class="header">
  <div class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img id="logo" src="assets/img/logo.png" width="175px" />
      </a>
    </div>
    <div class="nav2">
      <nav>
        <ul>
          <li><a routerLink="new" id="links">Product</a></li>
          <li><a routerLink="rolex" id="links">Rolex</a></li>
          <li><a routerLink="about" id="links">About</a></li>
          <li><a routerLink="contactus" id="links">Contact Us</a></li>
          <li><a routerLink="cart" id="links">Cart</a></li>
          <li>
            <a routerLink="login" id="links"
              ><i class="fa-solid fa-user"></i
            ></a>
          </li>
          <!-- Conditional Rendering for Admin Links -->
          <!-- <li *ngIf="isAdmin">
            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
                >&times;</a
              >
              <a routerLink="add-products">Add Products</a>
              <a routerLink="view-products">View Products</a>
              <a routerLink="view-users" *ngIf="isSuperAdmin">View Users</a>
              <a routerLink="accept-users" *ngIf="isSuperAdmin">Accept Users</a>
            </div>
            <span style="font-size: 30px; cursor: pointer" (click)="openNav()"
              >&#9776;</span
            >
          </li>
          <li *ngIf="isLoggedIn">
            <a routerLink="logout" id="links"
              ><i class="fa-solid fa-right-from-bracket"></i
            ></a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</div>
