<div class="navbar">
  <div class="logo">
    <a href="indexfront.php">
      <img
        src="../../assets/img/logorolexnoback.png"
        id="#logo"
        width="175px"
      />
    </a>
  </div>
  <div class="nav2">
    <nav>
      <ul>
        <li><a routerLink="" id="links">New</a></li>
        <li><a routerLink="rolex" id="links" target="_blank">Rolex</a></li>
        <li><a routerLink="/about" id="links">About</a></li>
        <li><a href="/contact" id="links">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <video autoplay loop muted class="background-clip">
    <source src="../../assets/vid/homepage2.mp4" type="video/mp4" />
  </video>
  <div class="contentrolex">
    <h1>Explore</h1>
    <a href="#" style="cursor: none">start your round</a>
  </div>
</div>

<div class="offer">
  <div class="small-container">
    <div class="rowoff">
      <div class="col-2">
        <video
          autoplay
          loop
          muted
          src="../../assets/vid/rolexvd.mp4"
          style="height: 450px; width: 300px"
        ></video>
      </div>
      <div class="col-6">
        <h1>Rolex watches are crafted with scrupulous attention to detail.</h1>
        <small
          >Explore the Rolex collection of prestigious, high-precision
          timepieces.</small
        >
      </div>
    </div>
  </div>
</div>

<div>
  <div class="col-1 mt-5" style="justify-content: center; margin-left: 30rem">
    <img src="../../assets/img/rolex.png" width="350px" height="400px" alt="" />
  </div>
  <h2 class="text-center text-success mt-4">
    “It was like a perfect storm, and the watch was part of it.”
  </h2>
  <p class="text-center text-success">ROGER FEDERER</p>
  <div
    id="carouselExampleIndicators"
    class="carousel slide m-5"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          style="height: 40rem"
          src="../../assets/img/shor.png"
          alt="First slide"
        />
      </div>
    </div>
  </div>
  <div class="scroll-up">
    <a href="#logo"><i class="bi bi-chevron-compact-up"></i></a>
  </div>
</div>
