<div class="container mt-5">
  <h2>Register User</h2>
  <form (ngSubmit)="registerUser()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <div *ngIf="errorMessage" class="mt-3 alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>
