<div class="container mt-5">
  <h2>User List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="user.id !== undefined ? deleteUser(user.id) : null"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    
</div>
